 #Tangram {
     position: relative;
     margin: 50px 0px 50px 0px;
 }

 .piece {
     position: absolute;
 }

 .square {
     left: 46vw;
 }

 .TdownOrange {
     left: 49.2vw;
 }

 .Parallelogram {
     left: 49.1vw;
     top: -3.3vw;
 }


 .TDownBlue {
     left: 45.9vw;
     top: 3.4vw;
 }

 .TLeftRed {
    left: 46vw;
    top: -3.3vw;
 }

 .TLeftPurple {
     left: 43.5vw;
     top: 3.4vw;
 }



 .TRightGreen {
     left:52.5vw;
     top:-3.3vw;
 }